<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sécurisation de données</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
<table width="70%" align="center">
        <tr>    
            <td colspan="2">
                <p id="titre">Open-Source et cybersecurité</p>
            </td>
        </tr>
        
        <tr>
            <td style="width: 30%;">
                <nav>       
                    <center>
                        <a href="{{ url_for('open_source') }}" target="main">
                            <div class="button1">
                                    <h1>
                                        <p align="center">
                                            Open-Source
                                        </p>
                                    </h1>
                            </div>
                        </a>
                    <a href="{{ url_for('cybersecurite') }}" target="main">
                        <div class="button1">
                            <h1>
                                <p align="center">
                                   cybersecurité
                                </p>
                            </h1> 
                        </div>
                    </a>
                    </center>  
                </nav>         
            </td>
            
            <td>
                <iframe id="content-frame" src="{{ url_for('open_source') }}" frameborder="0" name="main" width="100%" height="703"></iframe>
            </td>
        </tr>
</table>
        
    <footer>
        <p>&copy; 2025 MonSiteWeb. Tous droits réservés.</p>
        <button id="contact">contact</button>
        <div id="txt">noe.dardenne@ind-philippeville.be</div>
    </footer>
    
    <script src="js/javascript.js"></script>
</body>
</html>